*{
    text-decoration: none;
}
Body{
    background-color: rgba(255, 221, 0, 0.498);
}
.Shwetambari{
        margin: auto;
    display: block;
    text-align: center;
    font-size: 30px;
    font-family: caladea;
}
nav{
    text-align: center;
    font-family: caladea;
    background-color: rgba(255, 221, 0, 0.116);
    border-radius: 40px;
    padding-right: 20px;
    padding-left: 2px;
}

nav li{
    list-style-type: none;
    display: inline-block;
    border-radius: 40px;
    padding: 10px;
    font-size: 20px;
}
nav li:hover{
    background-color: rgba(89, 89, 89, 0.112);
    border-bottom: 3px solid black;
    border-radius: 10px;
    transition: 0.5s;
}
footer{
    width: 70%;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    position: fixed;
}
